@import "tailwindcss";

:root {
--background: linear-gradient(203deg,rgba(0, 0, 0, 1) 0%, rgba(20, 23, 23, 1) 100%);
  --foreground: #ededed;
  --bg-gradient: radial-gradient(60% 60% at 50% 35%, rgba(255,255,255,0.02), rgba(255,255,255,0) 20%), linear-gradient(180deg, rgba(0,0,0,0.18) 0%, rgba(0,0,0,0.65) 100%);
  --ease-spring: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-smooth: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--foreground);
  background-color: #0a0a0a;
  background-image: var(--background), var(--bg-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

[contentEditable="true"]:empty::before {
  content: attr(data-placeholder);
  color: white; /* neutral-500 */
  pointer-events: none;
}

::selection {
  background-color: black; /* blue */
  color: white !important;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  20% {
    background-position: -50% 0;
  }
  100% {
    background-position: -200% 0;
  }
}